extends ../layout


block content    
    table
        tr
            th='Name'
            th='Status'
            th='Typ'
            th='Fachaufgabe'
            th='Einheit'
        each val in values.length ? values : ['There are no values']
            tr
                td=val.name
                td=val.status
                td=val.tz.grundzeichen
                td=val.tz.fachaufgabe
                td=val.tz.einheit
                td
                    a(href='/units/'+ val.id)='Edit'