extends ../layout


block content
    a(href='/overlays')='Back'
    h1='Neues Overlays anlegen'
    form(method='post')
        label='Name: '
        input(name='name')
        br
        label='Path: '
        input(name='path')
        br
        label='MinZoom: '
        input(name='minZoom')
        br
        label='MaxZoom: '
        input(name='maxZoom')
        br
        button(type='submit')= 'Speichern'
        