extends ../layout


block content
    a(href='/maps')='Back'
    h1=map.name
    p='Path: ' + map.path
    p='Minzoom: ' + map.minZoom
    p='Maxzoom: ' + map.maxZoom
    form(method='post', action='/maps/' + map.id + '/upload', enctype="multipart/form-data")
        input(type='file', name='datazip')
        button(type='submit')='Hochladen'